@import url('https://fonts.googleapis.com/css?family=Roboto');

.html {
  font-family: 'Roboto';
}

.header {
  display: flex;
  align-items: center;
  background-color: #eee;
  height: 60px;
}

.header h1 {
  margin-top: 10px;
  font-size: 3rem;
  letter-spacing: 0.03em;
}

.sns {
  display: flex;
  position: absolute;
  margin-top: 10px;
  top: 0;
  right: 0;
}

.icon {
  margin-left: 10px;
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 24px;
}