.body {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}

/* @media screen and (min-width:481px) {} */

@media screen and (max-width: 480px) {
  .body {
    display: none;
  }
}
